@font-face {
  font-family: 'Bangers';
  src: url('./../assets/fonts/Bangers.ttf') format('truetype');
}

@font-face {
  font-family: 'Bentonsans';
  font-weight: normal;
  src: url('./../assets/fonts/bentonsans-regular.otf') format('truetype');
}

@font-face {
  font-family: 'Bentonsans';
  font-weight: bold;
  src: url('./../assets/fonts/bentonsans-bold.otf') format('opentype');
}

body {
  background-color: #F3B440;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: 'Bangers';
  font-weight: bold;
}


h2, h3, h4 {
  font-family: 'Bentonsans';
  font-weight: bold;
}

header, main, footer {
  margin: 0 30px;
}

p, textarea, input, label, span, button, li, a {
  font-family: 'Bentonsans';
  font-weight: normal;
  font-size: 24px;
}

@media (max-width: 1024px) {
  header, main, footer {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  header, main, footer {
    margin: 0 10px;
  }
}